.team {
  width: 100%;
  margin: auto;
  height: 350px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.main-container{
  padding: 0.5em;
  width: 70%;
  margin: auto;
  text-align: center;
}

.field {
  /* background-color: #206C3F; */
    background-color: #6E8C57;
  border-radius: 10px;
  color: #fff;
  display: grid;
  grid-auto-flow: column;
  /* grid-gap: 10px; */
  /* grid-template-rows: repeat(12, 1fr); */
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  margin-bottom: 2em;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .team {
    width: 700px;
    height: 600px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .team {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 500px) and (min-height: 400px) {
  .team {
    width: 350px;
    height: 300px;
  }
}
