


/* .field {
  width: 60%;
  height: 100%;
  background-color: #6E8C57;
  margin: auto;
} */

.main-container{
  padding: 0.5em;
  width: 70%;
  margin: auto;
  text-align: center;
}

.field {
  /* background-color: #206C3F; */
    background-color: #6E8C57;
  border-radius: 10px;
  color: #fff;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  margin-bottom: 2em;
}

.player {
  align-items: center;
  display: flex;
  justify-content: center;
}

.player-goalkeeper {
  grid-row: span 12;
}

.player-one, .player-two, .player-three, .player-four, .player-five, .player-six, .player-seven, .player-eight {
  grid-row: span 3;
}
.player-nine, .player-ten {
  grid-row: span 6;
}
.defender {
  grid-row: span 3;
  grid-column: 2
}
.midfielder {
  grid-row: span 3;
  grid-column: 3;
}
.forward {
  grid-row: span 3;
  grid-column: 4;
}
.goalkeeper {
  grid-row: third-line /6;
  grid-column: 1;
}
